https://github.com/thiagopena/geraldo/archive/master.zip
# https://github.com/thiagopena/PySIGNFe/archive/master.zip
https://github.com/braully/PySIGNFe/archive/master.zip
Django>=3.2.*
dj-database-url==1.*
python-decouple==3.8
pytz>=2022.1
reportlab==3.6.*
six==1.11.*
cryptography>=2.3
lxml==4.9.1
pyOpenSSL==22.1.0
signxml==3.0.0
tzdata>=2021.5
psycopg2-binary==2.9.3
